<div class="bg-white border" *ngIf="(photo$ | async) as photo">
  <div class="row">
    <div class="col-lg-8">
      <app-photo
        [url]="photo.url"
        [description]="photo.description"
      ></app-photo>
    </div>

    <div class="col-lg-4">
      <small>
        <p class="text-left break-word">{{ photo.description }}</p>
        <hr />
      </small>
      <div class="mt-4">
        <app-photo-comments [photoId]="photoId"></app-photo-comments>
      </div>
    </div>
  </div>
</div>
